* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.container
{
    max-width: 1400px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno para que no quede pegado a los bordes */
}
header {
    background: #f4f4f4;
    padding: 20px;
}

header .logo h1 {
    color: #333;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.team {
    padding: 40px 20px;
    text-align: center;
}

.team h2 {
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    margin: 20px;
}

.member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.services {
    background: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 200px;
    margin: 20px;
}

.video {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.video h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.video-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    margin-bottom: 20px;
}

.btn-video {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-video:hover {
    background-color: #e64a19;
}

.projects {
    padding: 40px 20px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
