* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

.anch {
    margin: auto;
    max-width: 1400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 100%;
    width: auto;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.barra a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 10px 15px;
}

.barra a:hover {
    background-color: #da5f33;
    color: white;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h2 {
    position: absolute;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

/* TEAM SECTION */
.team {
    padding: 40px 20px;
    text-align: center;
    background-color: #f0f0f0; /* Fondo gris */
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    position: relative;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
    border-radius: 0%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.member i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3ba9ba; /* Iconos de color azul */
    font-size: 2.5rem;
    display: none;
}

.member:hover i {
    display: block; /* Mostrar el ícono al pasar el ratón por encima */
}

.member h3 {
    margin-top: 10px;
    color: #ff6600; /* Nombres en naranja */
    font-size: 1.2rem;
}

.member p {
    margin-top: 5px;
    color: #333;
}

.services {
    background: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 200px;
    margin: 20px;
}

.video {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.video h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.video-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    margin-bottom: 20px;
}

.btn-video {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-video:hover {
    background-color: #e64a19;
}

.bn {
    padding: 40px 20px;
    text-align: center;
}

.bn h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.image-text-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.image-text-container img {
    width: 100%;
    max-width: 800px;
    height: auto;
    filter: grayscale(100%);
    border-radius: 8px;
}

.image-text-container p {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
}

.projects {
    padding: 40px 20px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
